<!--<script type="text/x-handlebars-template" id="gallery-tmpl">-->
	<div class="back-button">
		<p><span>F</span>őoldal</p>
		<div class="back-button-hover"></div>
		<div class="back-button-sign"></div>
	</div>
	<div class="gallery-nav-hover-back"></div>
		<div class="backward">
			{% include icons/arrow.svg %}
		</div>
	<ul class="wedding-images">
		<li class="visible-image"><img src="assets/images/wedding-big/wedding1.jpg" alt="1"><p>Treszkai Anett</p></li>
		<li><img src="assets/images/wedding-big/wedding2.jpg" alt="1"><p>Szabó Csilla - Csillagkép</p></li>
		<li><img src="assets/images/wedding-big/wedding3.jpg" alt="1"><p>Laca Soós Photography</p></li>
		<li><img src="assets/images/wedding-big/wedding4.jpg" alt="1"><p>Gábor Gibbó Kiss - GibbóArt Photograpy</p></li>
		<li><img src="assets/images/wedding-big/wedding5.jpg" alt="1"><p>Bertók Video &amp; Photo</p></li>
	</ul>
	<div class="nav-dots">
		<span class="top-image"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="gallery-nav-hover-forward"></div>
	<div class="forward">
		{% include icons/arrow.svg %}
	</div>
