<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ha egyedi, különleges vagy alkalmi sminket szeretnél legyen az alkalom fotózás, esküvő vagy csak egy rendezvény. Bábics Tímea - Sminkes">
  <meta name="keywords" content="smink, sminkes, makeup, esküvői smink, menyasszonyi smink, smink fotózásra, alkalmi smink, egyedi smink, divatsmink, divatsminkes, fantázia smink, party smink">
  <meta name="author" content="Bábics Tímea">
  <!--<title>TiMakeup - Bábics Tímea, sminkes</title>-->

  <title>{{ site.title }}</title>

  <!-- favicon for Chrome, Firefox, Safari -->
  <link rel="icon" href="assets/favicon.ico">

  <!-- favicon for IE -->
  <!--[if IE]><link rel="shortcut icon" href="icons/favicon.ico"><![endif]-->
  
  <!--build:css /assets/stylesheets/style.css-->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!--endbuild-->
</head>
