<section class="header" id="header">
	<div class="menu">
		<a class="logo" href="index.php">
			{% include icons/timakeup.svg %}
		</a>
		<ul class="menu">
			<li><a href="#about"><span>R</span>ólam</a></li>
			<li><a href="#jobs"><span>M</span>unkák</a></li>
			<li><a href="#references"><span>R</span>eferenciák</a></li>
			<li><a href="#contact"><span>K</span>apcsolat</a></li>
		</ul>
		<div class="small-width">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="mobile-bgimg"></div>
	<div class="heading">
		<h1><span>T</span>i<span>M</span>akeup</h1>
		<p><span>S</span>tílus // <span>S</span>zépség // <span>K</span>reativitás</p>
	</div>
	<div class="cta-header">
		<a href="mailto:b.timi89@hotmail.com"><p><span>L</span>et's shine!</p></a>
	</div>
	<p class="author"><span>F</span>otó: <span>M</span>árai <span>T</span>amás</p>
</section>