<section class="jobs" id="jobs">
	<div class="borders"></div>
	<h1><span>S</span>mink minden alkalomra</h1>
	<div class="icon-wrapper">
	{% include icons/arrow.svg %}
		<div class="job-wrapper chosen-job">
			{% include icons/shoe.svg %}
			{% include icons/arrow.svg %}
		</div>
		<div class="job-wrapper">
			{% include icons/camera.svg %}
			{% include icons/arrow.svg %}
		</div>
		<div class="job-wrapper">
			{% include icons/bride.svg %}
			{% include icons/arrow.svg %}
		</div>
	{% include icons/arrow.svg %}
	</div>
		<ul class="description">
			<li class="selected-description"><p>Smink bármely különleges illetve ünnepi alkalomra. Szalagavató, bálok, szilveszter... Ragyogj TiMakeupban!</p></li>
			<li><p>Fashion, beauty, portfólió, de akár egyedi koncepciójú fotózásokon is szívesen vállalom a sminkes szerepét.</p></li>
			<li><p>Egy próbasmink során a menyasszonnyal közösen megálmodjuk és elkészítjük a sminket, melyet a nagy napon már csak tökéletesítünk. A próbasminket elkészíthetjük akár a jegyesfotózás keretein belül is.</p></li>
		</ul>
</section>