section.jobs {
	height: 650px;
	position: relative;
}

div.borders {
	max-width: 960px;
	margin: 0 auto;
	height: inherit;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	z-index: 0;
}

#bride {
	width: 90px;
}

#shoe,
#camera {
	width: 150px;
}

div.icon-wrapper {
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	max-width: 960px;
	transition: all 0.4s
}

div.icon-wrapper div {
	text-align: center;
	display: inline-block;
	max-width: 300px;
}

section.jobs div.icon-wrapper div .arrow {
	display: block;
	transform: rotateZ(-90deg);
	width: 30px;
	margin: 0 auto;
	cursor: pointer;
	transition: all .3s;
}

div.icon-wrapper .arrow {
	display: none;
}

@media screen and (min-width: 1040px) {
	section.jobs div.icon-wrapper div .arrow:hover {
		transform: rotateZ(-90deg) scale(1.2);
	}

	section.jobs div.icon-wrapper div .arrow:hover polyline {
		fill: #000;
	}
}
section.jobs .arrow polyline {
	stroke: #000;
}

section.jobs ul.description {
	margin: 0 auto;
	padding-bottom: 55px;
	max-width: 760px;
	overflow: hidden;
	transition: all 0.5s;
}

ul.description li {
	display: none;
	margin: 5px 20px;
	max-width: 760px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,.8);
	pointer-events: none;
}

ul.description p {
	color: #000;
	font-size: 22px;
	text-transform: initial;
	font-weight: 400;
	padding: 15px;
	margin: 0 auto;
	max-width: 70%;
}

ul.description p::first-line {
	font-weight: 700;
}

ul.description li.selected-description {
	display: block;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@media screen and (max-width: 1040px) {
	section.jobs {
		height: auto;
	}

	#bride {
		width: 80px;
	}

	#shoe,
	#camera {
		width: 130px;
	}

	section.jobs .arrow {
		width: 27px;
	}

	div.icon-wrapper {
		justify-content: space-around;
	}

	ul.description p {
		padding: 15px auto;
	}

	div.borders {
		margin: 0 20px;
	}
}

@media screen and (max-width: 710px) {
	#bride {
		width: 80px;
	}

	#shoe,
	#camera {
		width: 130px;
	}

	section.jobs div.icon-wrapper div .arrow,
	div.icon-wrapper div {
		display: none;
	}

	div.icon-wrapper {
		z-index: 10;
		margin: 10px auto 35px;
		overflow: hidden;
	}

	div.icon-wrapper div.chosen-job,
	div.icon-wrapper .arrow {
		display: block;
	}

	div.icon-wrapper .arrow:last-child {
		transform: rotateZ(180deg);
	}

	section.jobs ul.description {
		min-height: auto;
	}

	ul.description p {
		max-width: 95%;
		padding: 5px auto;
	}
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}