body {
	font-family: 'Josefin Sans', arial, sans-serif;
	text-transform: uppercase;
}

svg {
	width: 92px;
}

ul.menu li a::first-letter,
ul.side-menu a::first-letter,
section.about p,
section.footer p::first-letter {
	font-size: 18px;
}

ul.menu li a,
section.footer p,
ul.side-menu a {
	font-size: 14px;
}

section.about h1,
section.jobs h1,
section.references h1,
section.contact h1 {
	font-size: 24px;
	letter-spacing: 5px;
	padding: 55px 15px;
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

section.about h1::first-letter,
section.jobs h1::first-letter,
section.references h1::first-letter,
section.contact h1::first-letter {
	font-size: 36px;
}

section.about h1,
section.jobs h1,
section.references h1,
section.contact h1,
section.about p span {
	font-weight: 700;
}

section.jobs,
section.contact {
	background-color: #fff;
	width: 100%;
}

@media screen and (max-width: 1040px) {
	ul.menu li a::first-letter,
	ul.side-menu a::first-letter,
	section.footer p::first-letter {
		font-size: 16px;
	}

	ul.menu li a,
	section.footer p,
	ul.side-menu a {
		font-size: 12px;
	}
}