/* 
The main SCSS file for everything, yep
*/
@import url(//fonts.googleapis.com/css?family=Josefin+Sans:700,600,400,300|Dancing+Script:400,700);
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local("Dancing Script"), local("DancingScript"), url(https://fonts.gstatic.com/s/dancingscript/v6/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local("Dancing Script Bold"), local("DancingScript-Bold"), url(https://fonts.gstatic.com/s/dancingscript/v6/KGBfwabt0ZRLA5W1ywjowUHdOuSHeh0r6jGTOGdAKHA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Josefin Sans Light"), local("JosefinSans-Light"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04zxLwFvNxpkIoVzlXSkPSYkA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Josefin Sans Light"), local("JosefinSans-Light"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z04GofcKVZz6wtzX_QUIqsI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Josefin Sans SemiBold"), local("JosefinSans-SemiBold"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z9sVlKlcXvEcgUssOU60Pj4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Josefin Sans SemiBold"), local("JosefinSans-SemiBold"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z_Bf3Xtc57ojmY2ox2Xv8Go.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z-IaMZP5eRGvEWe_CNIU_oY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z3NuWYKPzoeKl5tYj8yhly0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block; }

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden; }

body {
  font-family: 'Josefin Sans', arial, sans-serif;
  text-transform: uppercase; }

svg {
  width: 92px; }

ul.menu li a::first-letter,
ul.side-menu a::first-letter,
section.about p,
section.footer p::first-letter {
  font-size: 18px; }

ul.menu li a,
section.footer p,
ul.side-menu a {
  font-size: 14px; }

section.about h1,
section.jobs h1,
section.references h1,
section.contact h1 {
  font-size: 24px;
  letter-spacing: 5px;
  padding: 55px 15px;
  margin: 0 auto;
  max-width: 960px;
  text-align: center; }

section.about h1::first-letter,
section.jobs h1::first-letter,
section.references h1::first-letter,
section.contact h1::first-letter {
  font-size: 36px; }

section.about h1,
section.jobs h1,
section.references h1,
section.contact h1,
section.about p span {
  font-weight: 700; }

section.jobs,
section.contact {
  background-color: #fff;
  width: 100%; }

@media screen and (max-width: 1040px) {
  ul.menu li a::first-letter,
  ul.side-menu a::first-letter,
  section.footer p::first-letter {
    font-size: 16px; }
  ul.menu li a,
  section.footer p,
  ul.side-menu a {
    font-size: 12px; } }

section.header {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 730px;
  width: 100%;
  position: absolute; }

div.mobile-bgimg {
  display: none; }

div.menu {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  width: 100%;
  height: 64px;
  position: relative;
  top: 0; }

ul.menu {
  float: right;
  margin-right: 40px; }

div.menu div.small-width {
  display: none; }

/*

--- menu ---

*/
ul.menu li {
  float: left;
  display: inline;
  margin-left: 44px;
  line-height: 64px; }

ul.menu li a {
  display: block;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
          transition: all .2s; }

@media screen and (min-width: 1040px) {
  ul.menu li a:hover {
    color: #afafaf;
    -webkit-transform: scale(1.15);
            transform: scale(1.15); } }

/*

--- logo ---

*/
div.menu #logo {
  fill: white;
  text-transform: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform .2s;
          transition: transform .2s; }

div.menu a.logo {
  display: block;
  float: left;
  margin: 14px 50px; }

@media screen and (min-width: 1040px) {
  div.menu a.logo:hover #logo {
    -webkit-transform: scale(1.45);
            transform: scale(1.45); } }

/*

--- heading ---

*/
div.heading {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 565px;
  height: 170px;
  margin: 207px auto 0;
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
  pointer-events: none; }

div.heading h1 {
  font-size: 54px;
  letter-spacing: 25px;
  padding-top: 20px; }

div.heading h1 span {
  font-size: 75px; }

div.heading p {
  font-size: 15px;
  letter-spacing: 3px; }

div.heading p span {
  font-size: 19px; }

section.header p.author {
  font-size: 6px;
  letter-spacing: 1px;
  color: #ddd;
  margin: 210px 0 0 10px; }

section.header p.author::first-letter {
  font-size: 8px; }

div.cta-header {
  margin: 15px auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: all .2s;
          transition: all .2s; }

@media screen and (min-width: 1040px) {
  div.cta-header:hover {
    background-color: rgba(0, 0, 0, 0.6); } }

div.cta-header a {
  text-decoration: none;
  color: #fff; }

div.cta-header p {
  font-size: 15px; }

div.cta-header p::first-letter {
  font-size: 19px; }

@media screen and (max-width: 1040px) {
  section.header {
    background-image: none;
    height: 550px; }
  div.mobile-bgimg {
    display: block;
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/header-mid.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1; }
  div.menu {
    height: 50px;
    position: fixed;
    z-index: 100;
    top: 0; }
  ul.menu li {
    line-height: 50px; }
  div.menu #logo {
    width: 70px; }
  div.heading {
    max-width: 400px;
    height: 130px;
    margin: 185px auto 0; }
  div.heading h1 {
    font-size: 40px;
    letter-spacing: 14px; }
  div.heading h1 span {
    font-size: 55px; }
  div.heading p {
    font-size: 10px;
    letter-spacing: 4px; }
  div.heading p span {
    font-size: 15px; }
  div.cta-header {
    margin: 15px auto 0;
    width: 170px;
    height: 40px;
    line-height: 40px; }
  div.cta-header p {
    font-size: 11px; }
  div.cta-header p::first-letter {
    font-size: 15px; }
  section.header p.author {
    margin-top: 140px; } }

@media screen and (max-width: 710px) {
  section.header {
    background-image: none;
    height: 500px; }
  div.menu a.logo {
    margin: 14px 20px; }
  div.menu {
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  div.menu ul.menu {
    display: block;
    position: fixed;
    top: 50px;
    display: block;
    float: none;
    margin: 0 auto;
    width: 100%; }
  div.menu ul li {
    display: none; }
  div.menu ul.menu li.show-menu {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid white; }
  div.menu div.small-width {
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px; }
  div.menu div.small-width span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 9px 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  div.heading {
    max-width: 280px;
    height: 100px; }
  div.heading h1 {
    font-size: 25px;
    letter-spacing: 11px; }
  div.heading h1 span {
    font-size: 32px; }
  div.heading p {
    font-size: 8px;
    letter-spacing: 2px; }
  div.heading p span {
    font-size: 11px; }
  section.header p.author {
    margin-top: 120px; } }

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

section.about {
  text-align: center;
  margin-top: 730px;
  background-color: white;
  padding-bottom: 20px; }

section.about p {
  text-align: justify;
  text-transform: none;
  letter-spacing: 1px;
  max-width: 960px;
  margin: 55px auto; }

section.about p a {
  color: #000;
  text-decoration: none; }

section.about p span.brands {
  display: inline-block; }

section.about p span.popup {
  display: none;
  position: absolute;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0; }

section.about p span.popup svg {
  width: 300px;
  fill: white; }

section.about img {
  border-radius: 50%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5); }

.brand-anim {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.85, 0.85, 0.85) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.85, 0.85, 0.85) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.85, 0.85, 0.85) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@media screen and (max-width: 1040px) {
  section.about {
    clear: both;
    margin-top: 550px; }
  section.about img {
    width: 200px; }
  section.about p {
    margin: 55px 20px; } }

@media screen and (max-width: 710px) {
  section.about {
    clear: both;
    margin-top: 500px; }
  section.about img {
    width: 170px; } }

section.jobs {
  height: 650px;
  position: relative; }

div.borders {
  max-width: 960px;
  margin: 0 auto;
  height: inherit;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  z-index: 0; }

#bride {
  width: 90px; }

#shoe,
#camera {
  width: 150px; }

div.icon-wrapper {
  margin: 10px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s; }

div.icon-wrapper div {
  text-align: center;
  display: inline-block;
  max-width: 300px; }

section.jobs div.icon-wrapper div .arrow {
  display: block;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  width: 30px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all .3s;
          transition: all .3s; }

div.icon-wrapper .arrow {
  display: none; }

@media screen and (min-width: 1040px) {
  section.jobs div.icon-wrapper div .arrow:hover {
    -webkit-transform: rotateZ(-90deg) scale(1.2);
            transform: rotateZ(-90deg) scale(1.2); }
  section.jobs div.icon-wrapper div .arrow:hover polyline {
    fill: #000; } }

section.jobs .arrow polyline {
  stroke: #000; }

section.jobs ul.description {
  margin: 0 auto;
  padding-bottom: 55px;
  max-width: 760px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
          transition: all 0.5s; }

ul.description li {
  display: none;
  margin: 5px 20px;
  max-width: 760px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  pointer-events: none; }

ul.description p {
  color: #000;
  font-size: 22px;
  text-transform: initial;
  font-weight: 400;
  padding: 15px;
  margin: 0 auto;
  max-width: 70%; }

ul.description p::first-line {
  font-weight: 700; }

ul.description li.selected-description {
  display: block; }

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); } }

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
          animation-name: bounceOutDown;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@media screen and (max-width: 1040px) {
  section.jobs {
    height: auto; }
  #bride {
    width: 80px; }
  #shoe,
  #camera {
    width: 130px; }
  section.jobs .arrow {
    width: 27px; }
  div.icon-wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  ul.description p {
    padding: 15px auto; }
  div.borders {
    margin: 0 20px; } }

@media screen and (max-width: 710px) {
  #bride {
    width: 80px; }
  #shoe,
  #camera {
    width: 130px; }
  section.jobs div.icon-wrapper div .arrow,
  div.icon-wrapper div {
    display: none; }
  div.icon-wrapper {
    z-index: 10;
    margin: 10px auto 35px;
    overflow: hidden; }
  div.icon-wrapper div.chosen-job,
  div.icon-wrapper .arrow {
    display: block; }
  div.icon-wrapper .arrow:last-child {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); }
  section.jobs ul.description {
    min-height: auto; }
  ul.description p {
    max-width: 95%;
    padding: 5px auto; } }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

section.references {
  height: 890px;
  background-color: white;
  margin-bottom: 415px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.6); }

section.references h1 {
  text-align: center; }

div.margin {
  width: 100%;
  opacity: 0; }

/*

--- gallery ---

*/
section.references div.slider-nav {
  max-width: 664px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.slider-nav div.images {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

div.slider-nav div.gallery,
div.slider-nav div.images {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  border-radius: 5px; }

div.slider-nav div.images div.gallery {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg); }

@media screen and (min-width: 1040px) {
  div.slider-nav div.images:hover div.gallery {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

div.slider-nav div.gallery,
div.slider-nav div.images {
  width: 300px;
  height: 300px; }

div.images div.gallery h2 {
  color: #fff;
  font-size: 15px;
  letter-spacing: 10px;
  margin: 10px 10px;
  border-bottom: 1px solid #fff;
  opacity: 0; }

div.slider-nav h2 span {
  font-size: 23px; }

@media screen and (max-width: 1040px) {
  section.references {
    height: 850px; }
  section.references div.slider-nav {
    max-width: 624px; }
  div.slider-nav div.gallery,
  div.slider-nav div.images {
    width: 280px;
    height: 280px; }
  div.slider-nav div.images div.gallery {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background-color: rgba(0, 0, 0, 0.5); }
  div.images div.gallery h2 {
    font-size: 15px;
    letter-spacing: 7px;
    opacity: 1; } }

@media screen and (max-width: 710px) {
  section.references {
    height: 880px;
    margin-bottom: 360px; }
  section.references div.slider-nav {
    max-width: 450px; }
  div.slider-nav div.gallery {
    width: 100%;
    height: 150px; }
  div.slider-nav div.images {
    display: block;
    width: 85%;
    height: 150px;
    margin: 15px auto; }
  div.slider-nav div.images:nth-of-type(1) {
    background-position: 50% 20%; }
  div.slider-nav div.images:nth-of-type(2) {
    background-position: 50% 25%; }
  div.slider-nav div.images:nth-of-type(4) {
    background-position: 50% 27%; }
  div.images div.gallery h2 {
    font-size: 11px;
    letter-spacing: 8px;
    margin: 5px 10px; }
  div.slider-nav h2 span {
    font-size: 18px; } }

section.contact {
  position: fixed;
  background-color: white;
  bottom: 50px;
  z-index: -1; }

section.contact h1 {
  text-align: center;
  padding: 55px; }

section.contact div.social {
  max-width: 470px;
  margin: 0 auto 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.social svg {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all .2s;
          transition: all .2s; }

@media screen and (min-width: 1040px) {
  #email:hover,
  #face:hover,
  #insta:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  #email:hover {
    fill: #d14836; }
  #face:hover {
    fill: #3a5795; }
  #insta:hover {
    fill: #125688; } }

@media screen and (max-width: 1040px) {
  section.contact h1 {
    padding: 230px 0 45px; } }

@media screen and (max-width: 710px) {
  section.contact {
    bottom: 35px; }
  section.contact div.social {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 0 auto 90px; }
  #email,
  #face,
  #insta {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

section.footer {
  background-color: #000;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: -1; }

section.footer p {
  color: #fff;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px; }

@media screen and (max-width: 710px) {
  section.footer {
    height: auto; }
  section.footer p {
    letter-spacing: 2px;
    line-height: normal;
    padding: 10px 0;
    margin: 0 10px; } }

div.scroll-menu {
  background-color: #000;
  border-radius: 10px;
  position: fixed;
  top: 200px;
  -webkit-transition: all .3s;
          transition: all .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 190px;
  height: 220px;
  right: -190px; }

ul.side-menu {
  padding: 30px;
  list-style: none; }

ul.side-menu li {
  margin-bottom: 15px;
  -webkit-transition: all .1s;
          transition: all .1s; }

ul.side-menu li:hover {
  box-shadow: -2px 2px #c3c3c3; }

ul.side-menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
  -webkit-transition: all .1s;
          transition: all .1s; }

ul.side-menu a:hover {
  color: #afafaf; }

div.scroll-menu svg.arrow {
  width: 22px;
  margin: 5px 3px; }

div.scroll-menu svg.arrow polyline {
  stroke: #fff; }

div.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

ul.slider > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none; }

ul.slider li.visible {
  position: absolute;
  z-index: 2;
  display: initial; }

div.svg-cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%; }

div.svg-cover svg {
  width: 100%;
  height: 100%; }

div.svg-cover svg path {
  fill: #ccc; }

div.svg-cover.is-animating {
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity .6s;
          transition: opacity .6s; }

div.scroll-pos {
  background-color: #ddd;
  color: #000;
  position: fixed;
  top: 180px;
  right: 0;
  width: 80px;
  height: 20px;
  font-size: 15px; }

li.gallery {
  background-color: #ddd;
  width: 100%;
  height: 100%; }

#tmpl-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#tmpl-wrapper ul.gallery-images {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#tmpl-wrapper ul.gallery-images li {
  display: none;
  margin-top: 25px;
  height: 95%;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  pointer-events: none; }

#tmpl-wrapper ul.gallery-images li img {
  height: 100%; }

#tmpl-wrapper ul.gallery-images .visible-image {
  display: block;
  z-index: 2; }

#tmpl-wrapper div.picture-description {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 230px;
  top: 100px; }

#tmpl-wrapper div.current-description {
  display: block;
  z-index: 2; }

#tmpl-wrapper div.picture-description p {
  font-weight: bold;
  font-size: 9px;
  letter-spacing: 5px;
  margin: 10px 10px; }

li.gallery div.backward,
li.gallery div.gallery-nav-hover-back,
li.gallery div.forward,
li.gallery div.gallery-nav-hover-forward {
  position: fixed;
  top: 0;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

li.gallery div.gallery-nav-hover-back,
li.gallery div.gallery-nav-hover-forward {
  width: 600px;
  z-index: 3; }

li.gallery div.backward,
li.gallery div.forward {
  width: 100px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer; }

/* --- left side --- */
li.gallery div.backward {
  left: -100px; }

div.gallery-nav-hover-back {
  left: 0px; }

div.gallery-nav-hover-back:hover + div.backward,
li.gallery div.backward:hover {
  left: 0px; }

/* --- right side --- */
li.gallery div.forward {
  right: -100px; }

div.gallery-nav-hover-forward {
  right: 0px; }

div.gallery-nav-hover-forward:hover + div.forward,
li.gallery div.forward:hover {
  right: 0px; }

/* --- back button --- */
li.gallery div.back-button,
li.gallery div.back-button-hover {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  z-index: 4;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

li.gallery div.back-button {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  top: -70px;
  line-height: 70px;
  font-size: 18px;
  color: white;
  text-align: center;
  letter-spacing: 15px; }

li.gallery div.back-button div.back-button-sign {
  width: 230px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 15px 15px;
  margin: -3px auto 0; }

li.gallery div.back-button p span {
  font-size: 25px; }

li.gallery div.back-button-hover {
  top: 0; }

div.back-button-hover:hover + div.back-button,
li.gallery div.back-button:hover {
  top: 0; }

/* --- arrow --- */
li.gallery div.backward svg.arrow,
li.gallery div.forward svg.arrow {
  position: fixed;
  top: 50%;
  margin-top: -47px;
  padding: 0 35px;
  width: 30px; }

li.gallery div.backward svg.arrow polyline,
li.gallery div.forward svg.arrow polyline {
  fill: white; }

li.gallery div.forward svg.arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

/* --- nav-dots --- */
li.gallery div.nav-dots {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 17px;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

li.gallery div.nav-dots span {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  background-color: #999;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 0 15px;
  cursor: pointer; }

li.gallery div.nav-dots span.top-image {
  background-color: white; }

@media screen and (min-width: 1040px) {
  li.gallery div.nav-dots:hover span {
    opacity: 1; } }

/* --- animations --- */
.go-back {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
          animation-name: bounceOutLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.go-forward {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); } }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); } }

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); } }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); } }

@media screen and (max-width: 1040px) {
  div.back-button,
  li.gallery div.gallery-nav-hover-back,
  li.gallery div.gallery-nav-hover-forward {
    display: none; }
  #tmpl-wrapper ul.gallery-images {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #tmpl-wrapper ul.gallery-images li {
    height: auto;
    width: auto;
    box-shadow: none;
    border: none;
    margin: 0 auto; }
  #tmpl-wrapper ul.gallery-images li img {
    width: 85%;
    display: block;
    border: 2px solid white;
    margin: 0 auto; }
  li.gallery div.nav-dots {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  li.gallery div.nav-dots span {
    margin: 0; }
  #tmpl-wrapper div.picture-description {
    left: 90px;
    top: 40px; }
  #tmpl-wrapper div.picture-description p {
    font-size: 7px;
    letter-spacing: 4px; }
  li.gallery div.back-mobile {
    position: fixed;
    top: 0;
    right: 15px;
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10; }
  li.gallery div.back-mobile span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 9px 0; }
  li.gallery div.back-mobile span:first-child {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 10px);
            transform: rotateZ(-45deg) translate(-8px, 10px); }
  li.gallery div.back-mobile span:last-child {
    -webkit-transform: rotateZ(45deg) translate(0px, -2px);
            transform: rotateZ(45deg) translate(0px, -2px); } }

@media screen and (max-width: 710px) {
  li.gallery div.nav-dots {
    bottom: 0px; }
  li.gallery div.nav-dots span {
    width: 12px;
    height: 12px; }
  #tmpl-wrapper ul.gallery-images li img {
    width: 94%; }
  #tmpl-wrapper div.picture-description {
    left: 20px;
    top: 0px;
    box-shadow: none; }
  #tmpl-wrapper div.picture-description p {
    font-size: 5px;
    letter-spacing: 2px;
    margin: 5px 5px; } }
