<ul class="gallery-images">
		{{#each pics}}
			<li><img src="assets/images/{{filePath}}" alt="{{id}}"><p>{{description}}</p></li>
		{{/each}}
</ul>
<div class="nav-dots">
	{{#each pics}}
		<span></span>
	{{/each}}
</div>